html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background: #000000;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}
body:before {
  content: '';
  position: absolute;
  background-image: url('http://www.gstatic.com/prettyearth/assets/full/1014.jpg');
  background-size: cover;
  top: 0; left: 0; right: 0; bottom: 0;
}
body:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(88, 88, 88, 0.5);
  z-index: 10;
}

.container {
  position: fixed;
  width: 360px; height: 600px;
  z-index: 100;

  top: 50%; left: 50%;
  margin-top: -300px;
  margin-left: -180px;

  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

header {
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
header svg {
  display: block;
  width: 100%; height: 100%;
}

h1.page-title {
  text-align: center;
  font-size: 150%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date {
  font-weight: bold;
}

.container-view {
  position: relative;
  height: 460px;
  overflow: auto;
}

.container-view .activities {
}

.container-view .activities .activity,
.container-view .activity-detail {
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  list-style-type: none;
  margin: 10px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.container-view .activities .activity-group {
  list-style-type: none;
}

.container-view .activities .utilities,
.container-view .activities .activity-group .item-divider {
  text-align: center;
  margin-bottom: 10px;
}

.container-view .activity-detail {
}

/* ANIMATIONS *****************************************************************/
.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}
