<div class="activities" data-ng-controller="ActivitiesController">
  <h1 class="page-title">Recent Calls</h1>
  <ul>
    <li class="activity-group" ng-repeat="(key, value) in calls | groupBy: 'created_at | date'">
      <div class="item-divider date">
        {{ key | uppercase }}
      </div>
      <ul>
        <li class="activity animate-show-hide" ng-show="!call.is_archived" ng-repeat="call in value">
          <div ng-if="call.direction === 'inbound'">
            <p>From +{{ call.from }}</p>
            <p ng-show="call.to">To {{ call.to }}</p>
          </div>
          <div ng-if="call.direction === 'outbound'">
            <p>To +{{ call.to }}</p>
            <p ng-show="call.from">From {{ call.from }}</p>
          </div>
          <p>
            <span>{{ (call.call_type === "answered" ? "Answered on" : "") }}</span>
            <span>{{ (call.call_type === "missed" ? "Tried to call on" : "") }}</span>
            <span>{{ (call.call_type === "voicemail" ? "Left voicemail on" : "") }}</span>
            {{ call.via }} @ {{ call.created_at | date:"h:mma" }} for {{ call.duration }}s
          </p>
          <button ng-click="goToDetail(call.id)">View Detail</button>
          <button ng-click="archive(call)">Archive</button>
        </li>
      </ul>
    </li>
  </ul>
  <div class="utilities">
    <button ng-click="unarchiveAll()">Unarchive All Calls</button>
  </div>
</div>