<div data-ng-controller="ActivityDetailController">
  <h1 class="page-title">Call Detail</h1>
  <div class="activity-detail">
    <p class="date">{{ call.created_at | date | uppercase }}</p>
    <div ng-if="call.direction === 'inbound'">
      <p>From +{{ call.from }}</p>
      <p ng-show="call.to">To {{ call.to }}</p>
    </div>
    <div ng-if="call.direction === 'outbound'">
      <p>To +{{ call.to }}</p>
      <p ng-show="call.from">From {{ call.from }}</p>
    </div>
    <p>
      <span>{{ (call.call_type === "answered" ? "Answered on" : "") }}</span>
      <span>{{ (call.call_type === "missed" ? "Tried to call on" : "") }}</span>
      <span>{{ (call.call_type === "voicemail" ? "Left voicemail on" : "") }}</span>
      {{ call.via }} @ {{ call.created_at | date:"h:mma" }} for {{ call.duration }}s
    </p>
    <button ng-click="goToAllCalls()">Back</button>
    <button ng-click="archiveToggle(call)">
      <span>{{ (call.is_archived ? "Unarchive" : "Archive") }}</span>
    </button>
  </div>
</div>